
@{
    ViewBag.Title = "Analytics";
}

<h2>Analytics</h2>

<iframe title="Dashboard Geral da Biblioteca" width="1140" height="541.25" src="https://app.powerbi.com/groups/me/dashboards/84bb7c3f-5f59-474c-bb26-1363ccb3f528?ctid=816295ca-01e6-450e-91da-8ea1cd26dae5&pbi_source=linkShare" frameborder="0" allowFullScreen="true"></iframe>