
@{
    ViewBag.Title = "StudentReport";
}

<h2>StudentReport</h2>

<div id="embedContainer" style="height: 600px; width: 100%;"></div>

@*<script src="https://cdn.powerbi.com/libs/powerbi-client/2.13.1/powerbi.min.js"></script>
<script>
    var models = window['powerbi-client'].models;
    var embedConfiguration = {
        type: 'report',
        id: 'c0c367a5-1f13-4284-b156-7ce9f80b3807',
        embedUrl: 'https://app.powerbi.com/reportEmbed?reportId=c0c367a5-1f13-4284-b156-7ce9f80b3807&groupId=me',
        //accessToken: 'Your_Access_Token',
        tokenType: models.TokenType.Embed,
        permissions: models.Permissions.All,
        settings: {
            filterPaneEnabled: true,
            navContentPaneEnabled: true
        }
    };
    var reportContainer = document.getElementById('embedContainer');
    var report = powerbi.embed(reportContainer, embedConfiguration);
</script>*@

<script src="https://cdn.powerbi.com/libs/powerbi-client/2.13.1/powerbi.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var models = window['powerbi-client'].models;
        var embedConfiguration = {
            type: 'report',
            id: 'c0c367a5-1f13-4284-b156-7ce9f80b3807',
            embedUrl: 'https://app.powerbi.com/reportEmbed?reportId=c0c367a5-1f13-4284-b156-7ce9f80b3807&groupId=me',
            accessToken: 'Your_Access_Token',
            tokenType: models.TokenType.Embed,
            permissions: models.Permissions.All,
            settings: {
                filterPaneEnabled: true,
                navContentPaneEnabled: true
            }
        };
        var reportContainer = document.getElementById('embedContainer');
        var report = powerbi.embed(reportContainer, embedConfiguration);
    });
</script>
