@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Descrição: Este trabalho final de curso irá explorar a integração de um sistema de gestão de biblioteca com o software de análise de dados Power BI. O objetivo é criar um ambiente que permita a análise e monitoramento dos dados de empréstimos e devoluções, a frequência de uso de diferentes materiais, o perfil dos usuários, entre outros aspectos relevantes para a gestão da biblioteca.

    Será realizada uma pesquisa sobre as melhores práticas em sistemas de gestão de bibliotecas e análise de dados. Em seguida, será desenvolvido um protótipo de sistema de gestão de biblioteca que possa ser integrado com o Power BI. Serão coletados dados reais de empréstimos e devoluções, e o sistema será utilizado para analisá-los e apresentá-los visualmente através de dashboards e relatórios interativos no Power BI.
</p>
