@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<address>
    Instituto Superior Dom Bosco<br />
    Cristino Guambe<br />
    <abbr title="Telefone">Telefone:</abbr>     +258 84 773 6635
    <br />
    <a href="mailto:cris.guambe@SolutionExplorer28.onmicrosoft.com">cris.guambe@SolutionExplorer28.onmicrosoft.com</a>
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporte@exemplo.com">suporte@exemplo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@exemplo.com">marketing@exemplo.com</a>
</address>
