@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Bem-vindo ao nosso Projeto de Sucesso!</h2>
    <p class="lead">Título: "Desenvolvimento de um sistema de gestão de biblioteca integrado com Power BI: um estudo de caso"</p>
</div>


<div>
    <h4>Nossa Missão Cumprida:</h4>
    <p>
        Criamos um ambiente inteligente que capacita bibliotecários e gestores a tomarem decisões informadas com base em dados
        concretos. Exploramos a fundo os empréstimos, devoluções, padrões de uso de materiais e perfis dos usuários para alcançar
        a excelência na gestão de bibliotecas.
    </p>
    <h4>Nosso Jornal de Bordo:</h4>
    <p>
        Começamos com a pesquisa das melhores práticas em sistemas de gestão de bibliotecas e análise de dados, moldando nosso
        projeto com base nas lições aprendidas. Em seguida, criamos um protótipo de sistema de gestão de biblioteca que se integra
        perfeitamente com o Power BI. Coletamos dados reais de empréstimos e devoluções e utilizamos nosso sistema para apresentá-los
        de forma visualmente impactante, através de dashboards e relatórios interativos no Power BI.
    </p>

    <h4>Nosso Campo de Teste Real:</h4>
    <p>
        Nossa pesquisa foi conduzida em uma biblioteca real, e estamos orgulhosos de relatar que nosso
        sistema proposto foi validado e comprovado em sua eficácia na tomada de decisões e no gerenciamento
        de bibliotecas. Os resultados obtidos servirão como um exemplo inspirador e referência para o 
        desenvolvimento de sistemas semelhantes em outras bibliotecas.
    </p>

    <hr />
    <p>
        Junte-se a nós nesta emocionante jornada que transformou a gestão de bibliotecas. Explorar, analisar, 
        inovar - estamos comprometidos em tornar as bibliotecas mais eficientes e acessíveis do que nunca, e 
        nossa história de sucesso é a prova disso.
    </p>
</div>




















